.thumbnail {
  width: 100%;
}

.profile-pic {
  width: 36px;
  border-radius: 50px;
  margin-top: 12px;
}

.video-info {
  vertical-align: top;
}
.search-bar {
  display: block;
}

.video-title {
  font-weight: 500;
  line-height: 14px;
  margin-top: 12px;
}
.video-author,
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
  margin-bottom: 10px;
}
.video-author {
  margin-top: 14px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.thumbnail-container {
  position: relative;
}
.video-time {
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
